*{
  margin:0 !important;
  text-align:center;
  font-size:15px;
  padding:0;
  font-family: Arvo;
  padding-left: 0 !important:
  padding-right:0 !important;
  height:auto;

}
.container-fluid{
  width:100%;
  height:100%;
  padding-left: 0 !important:
  padding-right:0 !important;
  height:  100%;
  width:100%;
  text-align: center;
  }



.row{
  padding:1px;
  padding-left: 0 !important:
  padding-right:0 !important;
}

header{
  background-image:url("../images/backgrounds/landing.jpg");
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  height:100vh;
  color:white;
  width:100vw;

}


header img{
  padding:5%;
}

.happy{
  background-color:grey;
  height:100px;
  width:100;
  padding:10%;
  color:white;
}

.party{
  background-color:#F15A29;
  height:100px;
  width:100;
  padding:10%;
  color:white;
}

.image-responsive{
  position:relative;

}
.image-responsive:hover{
-webkit-filter: brightness(200%);
}

.text{
  position: absolute;
  left:50%;
  top:50%;
  color:white;
}

.fastfood{
  margin:5%;
}

.textff{
  text-align:left;
}
.gallery {
  color:#F15A29;
  border:1px #F15A29 solid;
  padding:3px;
  text-align:centr;
  width:160px;
}
 table {
   max-width: 50%;
   max-height: 50%;
border:4px lightblue solid;
margin-left:15%;
margin-top: 4%;
margin: 5px;

}
.textd{
  text-align:right;
  width:400px;
  float:right;
  clear:both;


}

.galleryd{
    color:#F15A29;
    border:1px #F15A29 solid;
    padding:3px;
    text-align:center;
    width:160px;
    float:right;
    clear:both;
}

#platebackground{
  background-image: url("../images/backgrounds/foodsBg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    height:400px;
    margin-top:3%;
    text-align: center;
}
.ourcustomers{
  height:200px;

}
.left{
  float:left;
  width:400px;;
  margin-left:300px;

}
.right{
  float:right;
  width:300px;


}

.pull-right h4, .pull-left h4{
  color:#F15A29
}

#tomato{
  background-image: url("../images/backgrounds/subscribe.jpg");
    background-position: center;
    background-repeat: no-repeat;
    text-align:center;
    padding-top:7%;
  }


 #save{
  background-color: #F15A29;
  color:white;
  margin:8px;
  border-radius:4px;

}

footer{
  background-color: #F15A29;
  color:white;
  padding-top:1%;
  line-height:50px;
  width:100%;
  padding-left: 0%;
  padding-right: 0%;
  margin: 0;
  position: absolute;
}
.burger{
  font-size:25px;
}
/*
#nav ul{
  list-style: none;

}
#nav li{
  background-color:white;
  width:100%;
  height:100%;
  left:0px;
  top:0px;

}*/
#nav-btn{
  display:block;
  vertical-align: middle;
  width: 20px;
  height: 15px;
  color:black;
}
#nav-btn span{
  height:6px;
  margin-bottom:5px;
  display:block;
  cursor: progress;
  margin:20px;
  background: :white;
}
/*
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */
.email{
  height:200px;
  text-align:center;
  margin-bottom:5px;
}
.email p{
  color:white;
  font-size:30px;
}
.thumbnail{
  padding-left:4px;
  padding-right: -8px;
}
.tabs{
  background-color:white;
  margin-top:5%;
  margin-left:10%;



}
