

  /*{margin:0 !important;
  text-align:center;
  font-size:15px;
  padding:0;
  font-family: Arvo;
  padding-left: 0 !important:
  padding-right:0 !important;
  height:auto;}*/

#menu-open{
  position:absolute;
  font-size:300%;
  left:0;
  padding-left:5%;
}
#menu-close{
  font-size:300%;
  left:8;
  padding-left:5%;
color:white;}

aside{
  display:flex;
  position:absolute;
  background-color:#F15A29;
  height:100vh;
  width:100vw;
  z-index:-100%;
  align-items: center;
  left:-105%;

}
aside ul{
  align-items: center;
  text-align: center;
}
aside li{
  list-style: none;
  font-size:200%;
  text-transform: uppercase;
  text-align:center;
  align-items: center;
  color:white;
}
aside a{
  color:white;
}
.container-fluid{
margin-left: 0;
margin-right: 0;
text-align: center;
  }



.row{
  padding:1px;
  padding-left: 0 !important:
  padding-right:0 !important;
}

header{
  background-image:url("../images/backgrounds/landing.jpg");
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  height:100vh;
  color:white;
  width:100vw;
}


header img{
  padding:6%;
}

header p{
  font-size: 30px;
}

.happy{
  background-color:grey;
  height:100px;
  width:100;
  padding:10%;
  color:white;
}

.party{
  background-color:#F15A29;
  height:100px;
  width:100;
  padding:10%;
  color:white;
}

.image-responsive{
  position:relative;

}
.image-responsive:hover{
-webkit-filter: brightness(200%);
}

.text{
  position: absolute;
  left:50%;
  top:50%;
  color:white;
}

.fastfood{
  margin:5%;
}

.textff{
  text-align:left;
}
.gallery {
  color:#F15A29;
  border:1px #F15A29 solid;
  padding:3px;
  text-align:centr;
  width:160px;
  cursor:pointer;
}
 .drinks table {
   max-width: 50%;
   max-height: 50%;
border:4px lightblue solid;
margin-left:15%;
margin-top: 4%;
margin: 5px;

}
.textd{
  text-align:right;
  width:400px;
  float:right;
  clear:both;


}

.galleryd{
    color:#F15A29;
    border:1px #F15A29 solid;
    padding:3px;
    text-align:center;
    width:160px;
    float:right;
    clear:both;
    cursor:pointer;
}

#platebackground{
  background-image: url("../images/backgrounds/foodsBg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    height:400px;
    margin-top:3%;
    text-align: center;
    position:presentation;
}
.ourcustomers{
  height:auto;
  text-align: center;
  border:.5px solid black;
  margin-top:3%;


}
.ourcustomers table{
  text-align: center;
  display: inline-block;
  margin-top:2%;
}
table h4{
    color:#F15A29;
}

 table td{
height:200px;}

table .line{
  border-right: .5px grey solid;
}

#tomato{
  background-image: url("../images/backgrounds/subscribe.jpg");
    background-position: center;
    background-repeat: no-repeat;
    text-align:center;
    padding-top:7%;
  }


 #save{
  background-color: #F15A29;
  color:white;
  margin:8px;
  border-radius:4px;
  padding:5px;
  width:200px;

}
label{
  color:white;
  font-size:25px;
}
.form-control{
  margin:auto;
  width:400px;
 display: inline-block;
 background:transparent;
 text-align: left;

}
footer{
  background-color: #F15A29;
  color:white;
  padding-top:1%;
  line-height:50px;
  width:100%;
  padding-left: 0%;
  padding-right: 0%;
  margin: 0;
  position: absolute;
}
.burger{
  font-size:25px;
  display: inline-block;
}

.menuburger{
  text-align:left !important;
  left:0;
  top:0;
  margin:0;
  padding-left:0px;;
  display: inline-block;
}

/*
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */
.email, .form-group{
  height:200px;
  text-align:center;
  margin-bottom:5px;

.thumbnail{
  padding-left:0px;
  padding-right:0px;
}
