html{
  margin:0;
  padding:0;
}

.container-fluid{
  margin:0 !important;
  text-align:center;


}


header{
  text-align:center;
  background-image:url("../images/backgrounds/landing.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center center;
  color:white;
  clear:both;
  height:100vh;
  padding:0;

margin:0px !important;

}
header img{
  position:center;
  padding:5%;
}

}
.breakfast, .lunch, .dinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
}
table{
  background-color:orange;
  color:white;
<<<<<<< HEAD
}*/
=======
}

>>>>>>> 34eeb8b3006882005ab3bfab80f0a5cfa5165fad
footer{
  background-color:#F15A29;
  color:white;
  text-align:center;
<<<<<<< HEAD
  padding:4%;
  margin:0%
=======
  padding:3%;
  margin:0%;
>>>>>>> 34eeb8b3006882005ab3bfab80f0a5cfa5165fad

}
footer img{
  display:inline;
<<<<<<< HEAD
  margin-bottom:5%;
=======
  margin-bottom:2%;

}
.secondrow{
  margin-top:.5%;
  margin-bottom:1.5%;
  size:100%;

}
.gallery{
  border:1px #F15A29 solid;
  color:#F15A29 !important;
  width:20%;
  text-align:center;
}

.drinks ,.foods{
  text-align:center;
  margin-bottom:2%;
}
#tomato{
    background-image:url("../images/backgrounds/subscribe.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center center;
    height:200px;
    color:white;
}
.tomato form{
>>>>>>> 34eeb8b3006882005ab3bfab80f0a5cfa5165fad

}
